.widget-traces {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  .widget-traces-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;

    .widget-traces-list-item {
      padding: 1rem;
      cursor: pointer;
    }
  }

  .widget-traces-details {
    flex-grow: 1;
  }
}

.widget-traces-message {
  padding: 1rem;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;

  .widget-traces-message-role {
    font-size: 0.8rem;
    width: 10%;
    opacity: 0.6;
    text-align: right;
  }

  .widget-traces-message-content {
    flex-grow: 1;
  }
}

.widget-traces-actionable-message {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
}

.widget-traces-reason {
  padding: 0.5rem 1rem;
  color: red;
}
