.widget-session-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .widget-session-control-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .widget-session-control-header-title {
      font-weight: bold;
    }
    .widget-session-control-header-new {
      color: #52A021;
      cursor: pointer;
    }
  }

  .widget-session-control-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .widget-session-control-list-item {
      cursor: pointer;
    }
  }
}
