.widget-traces {
  display: flex;
  flex-direction: row;

  .widget-traces-list {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;

    .widget-traces-list-item {
      padding: 1rem;
      cursor: pointer;
    }
  }

  .widget-traces-details {
    flex-grow: 1;
  }
}
